$text-color: #444044;
$text-back-col: #acc7a3;
$back-col: #f8f5eb;
$sun-col: #F4D03F;

@mixin a{
    color: $text-color;
    text-decoration: none;
    font-family:'Montserrat', sans-serif; 
}

@mixin mainrows($justify,$width){
    display: flex;
    align-items: center;
    justify-content: $justify;
    width: $width;
}

body{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

/*header*/
.header{
    background-color: $text-back-col;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    a{
    @include a;
    margin-left: 10px; 
    &:Hover{
        @include a;
        font-size: 110%;
    }  
    }
    img{
    margin-right: 42vw;
    }
}

@media screen and(max-width:860px){

    .header{ 
        img{margin-right: 33vw;}
    }  
}

@media screen and(max-width:640px){

    .header{ 
        img{margin-right: 25vw;}
    }  
}

@media screen and(max-width:522px){

    .header{ 
        img{margin-right: 15vw;}
    }  
}

/*Headline*/
.top{
    margin-top: 2vh;
    display: flex;
}

i{
    font-size: x-large;
    color: $text-color;
    margin-left: 1vw;
}

.middle{
    h1{
        @include a;
        margin:auto;
    }
}

/*CONTENT*/
.content{
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    margin: 5vh 27vw;
}

.name{
    @include mainrows(space-between,100%);
}

.Card-options{
    @include mainrows(auto,auto);  
}

.password{
    @include mainrows(space-between,100%);
}

#card{
    width: 40px;
    margin: auto 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apple-pay label{
    width: 100px;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    input{
        width: 20vw;
        height: 6vh;
        border-radius: 20px;
        border: 0.5px solid $text-color;
        background-color:  $back-col;
    } 
}

label{
    @include a;
    margin: 5px;
    letter-spacing: 2px;
}

button{
    padding: 15px 50px;
    margin: 35px;
    border-radius: 20px;
    background-color: $text-back-col;
    font-family:  'Montserrat', sans-serif;
    border: 1px solid #444044;
    &:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
  }
  
a{
    @include a;
}
  
  @media screen and (max-width:950px){

    #box{
        input{
        width: 30vw;
        } 
    }

    .content{
        width: 65vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 
        margin: 5vh 18vw;
    } 
  }

  @media screen and (max-width:670px) {

    .middle{
        h1{
            @include a;
            margin: 0 auto;
        }
    }

    .top{
        margin-top: 0;
        display: flex;
    }

    .content{
        width: 45vw;
        height: 50vh;
        margin: 0vh 27vw;
    }

    img{
        margin-right: 28vw;
    }

    .content{
        width: 45vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 
        margin: 8vh 27vw;
    }

    .name{
        display: flex;
        flex-direction: column;
    }

    .password{
        display: flex;
        flex-direction: column;
    }

    #box input{
        width: 50vw;
    }

     #box{
      display: flex;
      flex-direction: column;
     }
}