
    img{
        height: 100vh;
        width: 100vw;
        position: relative;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        filter: blur(5px);
    }


/*Info*/

h4{
    display: inline-block;
    margin-left: 10%;
}

  .info{
    position: absolute;
    padding: 20px;
    top: 8vh;
    left: 15vw;
    margin-top: 5vh;
    position: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    height: fit-content;
    width: 70vw;
    background-color: white;
    border:1px solid #444044;
    font-family:  'Montserrat', sans-serif;
    color: #444044; 
  }

  .info-text p{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
  }

 .last-info{
    margin-left: 7vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
 }

  button{
    padding: 10px 40px;
    margin-left: 10%;
    border-radius: 20px;
    background-color:#acc7a3;
    font-family:  'Montserrat', sans-serif;
    border: 1px solid #444044;
    width: 40%; 
  }
  
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  a{
    font-family:  'Montserrat', sans-serif;
    color: #444044;
    text-decoration: none;
    &:Hover{
        color: #444044;
    }
  }

  @media screen and(max-width:1258px){

    .info{
        top: 2vh;
        left: 10vw;
        margin-top: 5vh;
        position: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        height: fit-content;
        width: 80vw;
        background-color: white;
        border:1px solid #444044;
        font-family:  'Montserrat', sans-serif;
        color: #444044; 
      }
    
  }

  @media screen and(max-width:926px){

    .info{
        top: 1vh;
        left: 5vw;
        margin-top: 5vh;
        position: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        height: fit-content;
        width: 90vw;
        background-color: white;
        border:1px solid #444044;
        font-family:  'Montserrat', sans-serif;
        color: #444044; 
      }

      .info-text p{
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 10px;
        font-size: 16px;
      }
    } 
